.jumbotron {
    background-image: url(https://images.pexels.com/photos/4271686/pexels-photo-4271686.jpeg?cs=srgb&dl=pexels-alleksana-4271686.jpg&fm=jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
    font-weight: bold;
    margin-top: 10px;
    padding: 100px;
    height: 100%;
    /* border-radius: 50px; */
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) */
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body,
header,
#intro {
    height: 100%;
}