@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    font-family: 'Poppins', sans-serig
}

.jumbotron {
    background-image: url(https://images.pexels.com/photos/1225284/pexels-photo-1225284.jpeg?cs=srgb&dl=pexels-henry-%26-co-1225284.jpg&fm=jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
    font-weight: bold;
    margin-top: 10px;
    padding: 100px;
    height: 100%;
    /* border-radius: 50px; */
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) */
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body,
header,
#intro {
    height: 100%;
}


/* h4 {
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20vw;
    color: #252839;
    -webkit-text-stroke-color: 0.3vw #383d52;
    text-transform: uppercase;
} */